/* utility classes */

.text_center{
  text-align: center;
}

.bg_grey{
  background-color:#f9f9f9;
}


.margin_t100{
  margin-top: 100px;
}

/* Commons */
img{
  height: 200px;
}

h1{
  margin-bottom:15px;
}

h3{
  margin: 15px 0;
}

p{
  margin-bottom: 10px;
  text-align: center;
}
.icon{
box-sizing: content-box;
 background-color: #428bca;
 border: 30px solid #428bca;
 border-radius: 50%;
 margin-top: 50px;
}

/* Media Query */

@media all and (max-width: 768px) {
}

@media all and (min-width: 769px) and (max-width: 1200px) {

  #p_center_medium{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
  }
}
